*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: burlywood;
}
.main-div{
    border: 2px salmon solid;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-div{
    width: 800px;
    height: 400px;
    border: 2px sienna solid;
    padding: 10px;
}
h1{
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
input{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    padding: 5px 3px;
    font-size: 20px;
    color: blue;
    border-radius: 5px;
}
button{
    width: 100%;
    height: 50px;
    padding: 5px 3px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 22px;
    background-color: green;
    border: 2px solid black;
}
p{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: 30px;
}
strong{
    color: rgb(226, 14, 120);
}
